Django==1.6.5
MySQL-python==1.2.5
PyJWT==0.2.1
South==1.0
Whoosh==2.6.0
argparse==1.2.1
django-bootstrap3==4.11.0
django-bootstrap3-datetimepicker==2.2.3
django-datetimezone-field==0.1.8
django-google-charts==0.1.1
django-haystack==2.3.1
django-post-office==1.0.0
django-qsstats-magic==0.7.2
django-suit==0.2.9
django-timezone-field==1.0
jsonfield==0.9.22
oauthlib==0.6.3
python-dateutil==2.2
python-openid==2.2.5
python-social-auth==0.2.1
pytz==2014.4
requests==2.4.3
requests-oauthlib==0.4.1
simplejson==3.6.3
six==1.8.0
wsgiref==0.1.2
