alabaster==0.7.10
Babel==2.9.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.8.11
django-bootstrap3==9.0.0
django-bootstrap3-datetimepicker==2.2.3
django-datetimezone-field==0.1.8
django-google-charts==0.1.1
django-haystack==2.6.1
django-longerusernameandemail==0.5.7
django-qsstats-magic==1.0.0
django-suit==0.2.25
django-timezone-field==2.0
djrill==2.1.0
docutils==0.14
html2text==2016.9.19
idna==2.6
imagesize==0.7.1
Jinja2==2.11.3
jsonfield==2.0.2
MarkupSafe==1.0
oauthlib==2.0.4
Pygments==2.7.4
PyJWT==1.5.3
python-dateutil==2.6.1
python-openid==2.2.5
python-ptrace==0.9.3
python-social-auth==0.3.6
pytz==2017.2
requests==2.20
requests-oauthlib==0.8.0
simplejson==3.11.1
six==1.11.0
snowballstemmer==1.2.1
social-auth-app-django==1.2.0
social-auth-core==1.4.0
Sphinx==3.0.4
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
typing==3.6.2
urllib3==1.26.5
Whoosh==2.7.4
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
