{% extends "jobport/base_admin.html" %} {% block content %}
<div class="jumbotron">
    <div align="center" class="container">
        <br/>
        <br/>
        <h1>Upload CGPA</h1>
    </div>
</div>
<div class="container center-block">
    <div class="row">
        <div class="col-md-10">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-5"></div>
                <div class="col-md-5 form-group">
                    <label for="cgpafile">CGPA CSV File</label>
                    <input type="file" id="cgpafile" name="cgpafile">
                    <p class="help-block">Upload the CGPA CSV File here</p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-md-10">
            {% if notfound %}
            <h3>List of Students who were not found in the JobPort database</h3>
            <ul>
                {% for rollno in notfound %}
                <li>{{ rollno }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endblock %}
