{% extends "jobport/base_admin.html" %}
{% load bootstrap3 %}
{% load bootstrap3 %}
{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
        <br/>
    <br/>
    
    <h1>Select students for {{ job.company_name }}</h1>
    <h4>{{ job.profile }}</h4>
  </div>
</div>
<div class="container">
    <h3>Selected Candidates: <span style="font-size:80%">{{ selected.count }}</span></h3>
    <p></p>
    {% if selected %}
    <h3>List of Selected Candidates</h3>
    <ul>
    {% for selects in selected %}
        <li><h5>{{ selects.name }}</h5></li>
    {% endfor %}
    </ul>
    {% endif %}
    
    <br/>
    <div class="well">
    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>
    </div>
    <div class="btn-group">
          <a class="btn btn-primary" href="/job/{{ job.pk }}/getcsv/?req=selected">Download Selected Students' List</a>
          </button>
          <a href="/job/{{ job.pk }}/sendselectedemail"><button type="button" class="btn btn-primary">Send Email to Selected Students</button> </a>
    </div>

    <div class="btn-group">
          <a class="btn btn-primary" href="/job/{{ job.pk }}/getresumes/?req=selected">Download Selected Students' Resumes</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/job/{{ job.pk }}/getresumes/?&req=selected">Download Selected UG. Resumes</a></li>
            <li><a href="/job/{{ job.pk }}/getresumes/?&req=selected">Download Selected PG Resumes</a></li>
          </ul>
    </div>

</div>
{% endblock %}
