{% extends "jobport/base_admin.html" %}

{% block content %}
<div class="jumbotron"s>
  <div align="center" class="container">
    <h1>{{ job.company_name }}</h1>
    <h4>{{ job.profile }}</h4>
  </div>
</div>
<div class="container">
    <h3>Details</h3>
    <p>{{ job.details }}</p>
    <h3>Location:</h3>
    <p>{{ job.location }}</p>
    <h3>Compensation:</h3>
    {% if job.package == None %}
    <p>Not Disclosed</p>
    {% else %}
    <p>{{ job.package }}</p>
    {% endif %}
    <h3>Selection Process:</h3>
    <p>{{ job.selectionprocess }}</p>
    <h3>Minimum Eligibility Criteria</h3>
    <h4>For Batches:</h4> 
    {% for b in job.batch.all %}
         {{b.title }}<p> </p>
    
    {% endfor %}

        <h4>10th Marks: </h4><p>{{ job.min_tenthmarks }}</p>
    
        <h4>12th Marks: </h4><p>{{ job.min_twelfthmarks }}</p>
        <h4>CGPA: </h4><p>{{ job.cgpa_min }}</p>
        <h4>Max Backlogs: </h4><p>{{ job.max_blacklogs }}</p>
    <a href="/job/{{ job.pk }}/edit"><button type="button" class="btn btn-primary">Edit</button> </a>
    <a href="/job/{{ job.pk }}/applicants"><button type="button" class="btn btn-primary">View Applicants</button> </a>
    <a href="/job/{{ job.pk }}/selections"><button type="button" class="btn btn-primary">Add Selected Applicants</button> </a>
    <a href="/job/{{ job.pk }}/delete"><button type="button" class="btn btn-primary">Delete this Job</button> </a>
</div>
{% endblock %}
