{% extends "jobport/base_admin.html" %}

{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
  <br/>
  <br/>
    <h1>{{ batch.title }}</h1>
    <a class="btn btn-warning" href="/batch/{{batch.id}}/edit/" role="button">Edit</a>
    <a class="btn btn-danger" href="/batch/{{batch.id}}/addstudentstobatch/" role="button">Add Students</a>
    <a class="btn btn-success" href="/batch/{{batch.id}}/getbatchlist/" role="button" target="_blank">List</a>
    <a class="btn btn-info" href="/batch/{{batch.id}}/getbatchresume/" role="button" target="_blank">Resumes</a>    
  </div>
</div>
    <div class="container">
    {% for l in student %}
        <div class="panel panel-default">
            
            <div class="panel-heading">
                <a href="/students/{{ l.pk }}/edit"><h3 class="panel-title"  style="color:black">{{ l.name }}</a>
            </div>
          <div class="panel-body">
                <h5 >{{ l.rollno }}</h5>
                <h6 >{{ l.get_status_display }}</h6>
                <h6 >Offers: {% for offer in l.placedat.all %}{{ offer.company_name }} ({{ offer.profile }}), {% endfor %}</h6>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if not student %}
        <div class="container">
            <h4 align="center">There are no students right now.</h4>
        </div>
    {% endif %}
</div>
{% endblock %}
