{% extends "jobport/base_admin.html" %}
{% load humanize %}

{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
    <h1>JobPort</h1>
    <button id="createJob" class="btn btn-sm">New Job Opening!</button>
  </div>
</div>

    <div class="container">
{% for job in jobs %}
    <div class="list-group">
        <a href="/job/{{ job.pk }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ job.company_name }}</h4>
            <h6 class="list-group-item-heading">{{ job.profile }}</h6>
            <h6 class="list-group-item-heading">Posted on: {{ job.createdon }}</h6>
            <h6 class="list-group-item-heading">Deadline: {{ job.deadline }} {% if job.deadlineexpired %} <span class="label label-warning"> {{ job.deadline|naturaltime }} {% elif not job.deadlineexpired %} <span class="label label-info"> {{ job.deadline|naturaltime }}</span> {% endif %}</span></h6>
            <h6 class="list-group-item-heading">Date of Visit: {{ job.dateofvisit }}</h6>
            <p class="list-group-item-text">{{ job.details }}</p>
            <div>
            <script>
                      (function() {
                        var cx = '012742927787870246921:awu6ouvfwzi';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                <gcse:search></gcse:search>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% if not jobs %}
    <div class="container">
        <h4 align="center">There are no jobs available right now.</h4>
    </div>
{% endif %}
{% endblock %}
