{% extends "jobport/base_admin.html" %}

{% load humanize %}
{% block content %}

<div class="jumbotron">
  <div align="center" class="container">
    <br/>
    <br/>
    
    <h1>Admin Home</h1>
  </div>
</div>

<div class="container">
  {% for job in jobs %}

  {% if job.deadlineexpired %} 
  <div class="panel panel-danger" >
    {% elif not job.deadlineexpired %} 
    <div class="panel panel-primary" >
     
      {% endif %}
      <div class="panel-heading" data-toggle="collapse" aria-expanded="false" href="#collapseExample{{ job.pk }}" aria-controls="collapseExample{{ job.pk }}">
        <h3 class="panel-title" >{{ job.company_name }}</h3>
      </div>
      <div class="panel-body collapse" id="collapseExample{{ job.pk }}">
        <a href="/job/{{ job.pk }}"><h6>{{ job.profile }}</h6></a>
        
        <h6>Posted on: {{ job.createdon }}</h6>
        <h6>Date of Visit: {{ job.dateofvisit }}</h6>
        <div class="panel-footer">
          Deadline: {{ job.deadline }}
          {% if job.deadlineexpired %} 
          <span class="label label-danger"> 
            {{ job.deadline|naturaltime }} 
            {% elif not job.deadlineexpired %} 
            <span class="label label-success"> {{ job.deadline|naturaltime }}</span> {% endif %}</span>
          </div>
          <h6></h6>
        </div>
      </div>

      
      

      {% endfor %}
    </div>

<!--
            <script>
                      (function() {
                        var cx = '012742927787870246921:awu6ouvfwzi';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                <gcse:search></gcse:search>
              -->

              {% if not jobs %}
              <div class="container">
                <h4 align="center">There are no jobs available right now.</h4>
              </div>
              {% endif %}
              {% endblock %}
