<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
{% load humanize %}
<html>
  <head>
    <title>JobPort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link rel="stylesheet" href="{% static "css/showup.css" %}">

    {% block pagelibraries %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">JobPort</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="myjobs" href="#">My Applications</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="feedback" href="#">Feedback</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Edit Profile/CV</a></li>
                <li class="divider"></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message }}</div>
    {% endfor %}
        {% block content %}{% endblock %}
         <a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom"> <span class="glyphicon glyphicon-chevron-up"></span> </a>
    <div class="container">
        <hr class="featurette-divider">
        <footer>
          <p>&copy; 2014 IIIT-Delhi JobPort &middot;</p>
<p>Made by <a href="mailto:romil110092@iiitd.ac.in" target=”_blank”>Romil</a> and <a href="mailto:naman13064@iiitd.ac.in" target=”_blank”>Naman</a></p>
        </footer>
    </div>
<!--
<div id="feedbackmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" id="feedbackdata">
      </div>
    </div>
  </div>
</div>
-->

<div id="myappsmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" id="myappsdata">
      </div>
    </div>
  </div>
</div>

<!--    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
<!--    <script src="{% static "js/showup.js" %}"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

<!--
    <script>
              $().showUp('.navbar', {
              upClass: 'navbar-show',
              downClass: 'navbar-hide'
              });
      </script>
-->

<script type="text/javascript">
//    window.onload = function(){
        $("#myjobs").on('click', function(){
         $("#myappsdata").load("{% url 'myapplications' %}",function(responseTxt,statusTxt,xhr){
          if(statusTxt=="success")
            // alert("External content loaded successfully!");
            $("#myappsmodal").modal("show");
          if(statusTxt=="error")
            alert("Error: "+xhr.status+": "+xhr.statusText);
          });
        });
//    }
</script>

	  <!--
<script type="text/javascript">
    window.onload = function(){
        $("#feedback").on('click', function(){
         $("#feedbackdata").load("{% url 'feedback' %}",function(responseTxt,statusTxt,xhr){
          if(statusTxt=="success")
            // alert("External content loaded successfully!");
            $("#feedbackmodal").modal('show');
          if(statusTxt=="error")
            alert("Error: "+xhr.status+": "+xhr.statusText);
          });
        })
    }
</script>
-->
	</body>
</html>
