{% extends "jobport/base_admin.html" %}
{% load humanize %}

{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
    <h1>JobPort</h1>
    <h3>All Batches</h3>
	  <div class="col-lg-6 col-center-block" style="margin-left:3.3em">
		  <a id="batch" class="btn btn-primary">Create Batch!</a>
	  </div>
    </div>
</div>
<div class="container">
{% for l in batch%}
    <div class="list-group">
        <a href="/batch/{{ l.pk }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ l.title }}</h4>
            <h6 class="list-group-item-heading">Created on: {{ l.createdon }}</h6>
			{% ifequal l.pg_or_not 'G' %}
			<h6 class="list-group-item-heading">Graduate</h6>
				{% else %}
			<h6 class="list-group-item-heading">Post-Graduate</h6>
			{% endifequal %}
		</a>
    </div>
{% endfor %}
</div>
{% if not batch%}
    <div class="container">
        <h4 align="center">There are no batches right now.</h4>
    </div>
{% endif %}

<!-- Modal -->

<div id="batchmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" id="batchdata">
      </div>
    </div>
  </div>
</div>


{% endblock %}
