{% extends "jobport/base_modals.html" %}

{% load bootstrap3 %}
{% block pagelibraries %}
    {{ form.media }}
{% endblock %}
{% block content %}
<br/>
<div class="container-fluid" style="margin-left:12em">
    <form action="{% url 'feedback' %}" role="form" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Shoot' layout='horizontal' %}{% endbuttons %}
    <!-- <h5 style="color:gray">You can always reach me directly at <a href="mailto:naman13064@iiitd.ac.in" target=”_blank”>Naman@iiitd</a>.</h5> -->
    </form>
</div>
{% endblock %}
