{% extends "jobport/base_loggedout.html" %}

{% load bootstrap3 %}

{% block pagelibraries %}
    {{ form.media }}
{% endblock %}
{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
    <h1>Feedback</h1>
    <h3>We'd love to hear from you!</h3>
  </div>
</div>
<div class="container">
    <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>
    <br>
    <br>
    <h5 align="center" style="color:gray">Or you can always reach us directly at naman13064 [at] iiitd [dot] ac [dot] in or romil11092 [at] iiitd [dot] ac [dot] in.</h5>
</div>
{% endblock %}
