{% extends "jobport/base_modals.html" %}

{% load bootstrap3 %}

{% block pagelibraries %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
  
    <h1>New Batch</h1>
  
  </div>
</div>

  <div class="container" style="margin-left:-45px">
       <form role="form" class="form-horizontal" action="{% url 'openbatch' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Create' layout='horizontal' %}{% endbuttons %}
    </form>
  </div>
{% endblock %}
