{% extends "jobport/base_modals.html" %}

{% load bootstrap3 %}

{% block pagelibraries %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div align="center" class="container">
    <h1>Create a new Batch</h1>
    <h3></h3>
  </div>
</div>

  <div class="container">
       <form role="form" class="form-horizontal" action="{% url 'openbatch' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Done' layout='horizontal' %}{% endbuttons %}
    </form>
  </div>
{% endblock %}
