{% extends "jobport/base_loggedout.html" %}

{% block content %}

<div class="jumbotron">
  <div align="center">
    <br/> <br/>
    <h1>JobPort</h1>
    <h3>IIIT Delhi's Placement Portal</h3>
  </div>
</div>
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row well well-lg">
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-ok" style="color:blue"></span></h1>
          <h2>Apply for Jobs</h2>
          <p>View job posts and apply to them online.</p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-bell" style="color:orange"></span></h1>
          <h2>Notifications</h2>
          <p>Get all the latest job updates right in your inbox.</p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-file" style="color:green"></span></h1>
          <h2>Profile Management</h2>
          <p>Manage your CV online. No need to send multiple emails to the Placement Cell to update your CV.</p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
